@font-face {
  font-family: "RobotoFlex";
  src: url("../../assets/fonts/RobotoFlex-VariableFont_GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf");
}

body {
  font-family: "RobotoFlex";
}
