/* ? -------  Trouble shoot checking section --------- */

/* * {
  background-color: rgb(0 100 0 / 0.1);
} */

/* *--------------------- Reset ---------------------* */

*,
*::after,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: var(--color-background);
  color: var(--color-primary-color);
  -webkit-tap-highlight-color: transparent;
}

button,
a,
input {
  color: var(--color-primary-color);
}

.disableScroll {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.--hidden {
  display: none;
}

/* *--------------------- Root ---------------------* */

:root {
  --color-primary-color: #471515;
  --color-primary-button: #ff8080;
  --color-secondary-button: #ffe4e4;

  --color-background: #fff;
}

/* * -------------------  Main  ------------------------* */

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main__mode {
  display: flex;
  align-items: center;
  background: var(--color-secondary-button);
  border-radius: 30px;
  padding: 9px 16px;
  border: 2px solid var(--color-primary-color);
  width: 136px;
  justify-content: space-between;
}

.main__mode .icon {
  width: 31px;
  height: 26px;
}

.main__mode__text {
  font-weight: 600;
  font-size: 24px;
}

.main__timer {
  margin: 43px 0px 49px 0px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  column-gap: 0;
  row-gap: 0;
}

.main__timer p {
  line-height: 210px;
  font-size: 230px;
}

.main__controls {
  width: 321px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__controls__setting,
.main__controls__next {
  cursor: pointer;
  padding: 30px 26px;
  background-color: var(--color-secondary-button);
  border-radius: 24px;
}

.main__controls__start {
  cursor: pointer;
  margin: 0px 16px;
  padding: 35px 55px;
  background-color: var(--color-primary-button);
  border-radius: 32px;
}

.main__controls__start svg {
  width: 22px;
  height: 27px;
}

.main__controls__next svg {
  width: 29px;
  height: 19px;
}

.main__controls__setting svg {
  width: 27px;
  height: 7px;
}

@media screen and (max-width: 1024px) {
  .main__mode {
    border-radius: 21px;
    padding: 6.3px 11.2px;
    border: 1.4px solid var(--color-primary-color);
    width: 95.2px;
  }

  .main__mode .icon {
    width: 21.7px;
    height: 18.2px;
  }

  .main__mode__text {
    font-size: 16.8px;
  }

  .main__timer {
    margin: 30.1px 0px 34.3px 0px;
  }

  .main__timer p {
    line-height: 147px;
    font-size: 161px;
  }

  .main__controls {
    width: 224.7px;
  }

  .main__controls__setting,
  .main__controls__next {
    padding: 21px 18.2px;
    border-radius: 16.8px;
  }

  .main__controls__start {
    margin: 0px 11.2px;
    padding: 24.5px 38.5px;
    border-radius: 22.4px;
  }

  .main__controls__start svg {
    width: 15.4px;
    height: 18.9px;
  }

  .main__controls__next svg {
    width: 20.3px;
    height: 13.3px;
  }

  .main__controls__setting svg {
    width: 18.9px;
    height: 4.9px;
  }
}
